# Backend - Web Framework
fastapi==0.110.1
uvicorn==0.28.0
pydantic==2.6.0

# Data Processing & Math
numpy>=1.26.4
scipy>=1.13.0
networkx==3.2.1
osmnx>=1.9.0

# Utilities
python-dotenv==1.0.0
requests==2.31.0

# Nếu dùng Frontend React (thư viện phía client)
# Các thư viện này thường nằm trong package.json của frontend, 
# axios, leaflet, react-leaflet
